* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.no-page,
.products,
.services,
.sign-up {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 6.25rem;
    text-transform: uppercase;
}

.products {
    background-image: url("../public/images/img-1.jpg");
}

.services {
    background-image: url("../public/images/img-2.jpg");
}

.sign-up {
    background-image: url("../public/images/img-8.jpg");
}

.no-page {
    background-image: url("../public/images/img-10.jpg");
}

@media screen and (max-width: 900px) {

    .no-page,
    .products,
    .services,
    .sign-up {
        font-size: 4rem;
    }
}